.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.menu {
  width: 30%;
  text-align: left;
  position: fixed;
  list-style: none;
  height: 100vh;
  background-color: yellow;
  left: -100%;
  transition: 0.5s;
}

.activemenu {
  left: 0%;
}

.menu ul li {
  list-style: none;
  padding: 10px 0px;
}

.micon {
  position: absolute;
  right: 10px;
}

.modelOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.modelShow {
  display: block;
}

.modelDiv {
  width: 320px;
  position: fixed;
  height: 320px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: -500%;
  transition: 0.5s;
  background-color: white;
}

.ShowmodelDiv {
  top: 50%;
}

form {
  width: 1170px;
  margin: auto;
  display: flex;
  gap: 20px;
}

form input {
  flex-basis: 80%;
}

form button {
  flex-basis: 20%;
}

.outerDiv {
  width: 1170px;
  margin: auto;
}

.outerDiv ul {
  margin: 0px;
  margin-top: 50px;
  padding: 0px;
  list-style: none;
}

.outerDiv ul li {
  color: white;
  padding: 10px;
  font-size: 25px;
  margin-bottom: 20px;
  position: relative;
  text-align: left;
  background-color: black;
}

.outerDiv ul li span {
  right: 20px;
  cursor: pointer;
  position: absolute;
}

.completetodo {
  text-decoration: line-through;
  color: red !important;
  background-color: yellow !important;
}

.tabsouter {
  width: 1170px;
  margin: auto;
}

.tabsouter ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  gap: 10px;
}

.tabsouter ul li button {
  background-color: #e4e4e4;
  color: #343a40;
  border: none;
  padding: 0.5rem 20px;
  margin-right: 18px;
  font-weight: 600;
  cursor: pointer;
}

.activeButton {
  color: white !important;
  background-color: red !important;
}
